<!DOCTYPE html>
<html lang = "fr">
<head>
    <title>doc</title>
    <meta name = "viewport"
          content = "width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="le=edge">
    <link rel="stylesheet" href="{{ asset('node') }}">
</head>

<body>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ name }}</h5>
        <p class="card-text">{{ last }}</p>
        <p class="card-text">{{ age }}</p>
        <p class="card-text">{{ section }}</p>

    </div>
</div>






</body>

</html>
